<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <script type="text/javascript" , src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            fetch('http://localhost:5000/api/meas2')
                .then((response) => {
                    return response.json();
                })
                .then((dataFromServer) => {
                    console.log(dataFromServer)

                    var datatable = new google.visualization.DataTable();
                    datatable.addColumn("number", "Aika")
                    datatable.addColumn("number", "Paine")
                    datatable.addColumn("number", "Lämpötila")
                    datatable.addColumn("number", "Kosteus")

                    datatable.addRows(dataFromServer)

                    var options = {
                        title: 'Measurements',
                        curveType: 'function',
                        legend: { position: 'bottom' }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
                    chart.draw(datatable, options);
                }

                )
        }

    </script>
</head>

<body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>


</html>